/.gradle
/.idea
/build
/local.properties
/example-android-project/.gradle
/example-android-project/build
/example-android-project/local.properties
/svg-2-android-vector/.gradle
/svg-2-android-vector/build
/svg-2-android-vector/local.properties

bin/

.project
.settings/
.classpath
